body {
  background-color: lightblue;
  font-family: helvetica;
}

.title-div{
  margin: auto;
  background-color: pink;
  height: 60px;
  width: 80%;
  border: solid black 1px;
}

.note-input-div{
  margin: auto;
  background-color: yellow;
  height: 135px;
  width: 80%;
  border: solid black 1px;
}

.note-list-div{
  margin: auto;
  background-color:yellow;
  height:200px;
  width: 80%;
  border: solid black 1px;
}

.note-display-div{
  margin: auto;
  background-color: pink;
  height: 200px;
  width: 80%;
  border: solid black 1px;
}

.create {
  border-radius: 3px;
  width: 70px;
  height: 30px;
  background-color: pink;
}
